:root{
 --usersList-header: orange;
 --usersList-header-border: black;
}
  
 .dark-mode{
 --usersList-header: black;
 --usersList-header-border: white;
}

.explore-page-header{
    background-color: var(--usersList-header);
    padding: 5px;
    border-bottom: 5px solid var(--usersList-header-border);
    display: flex;
    justify-content: space-between;
}

.explore-page-content{
    padding: 5px;
}

.users-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  justify-content: center;
  margin: 30px 0 100px 0;
}

@media (max-width: 480px){
  .users-list{
    grid-template-columns: repeat(auto-fit, 350px);
  }
}